@model AspNet_Lab2.Models.FormResponse

<h1>FormView</h1>

<div>
    <h4>FormResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysSinceBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysSinceBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLeapYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLeapYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
